@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Euclid Circular A';
    src: url('/assets/Euclid Circular A Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('/assets/Euclid Circular A Normal.ttf') format('truetype');
    font-weight: 500; /* Normal weight (assumed) */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('/assets/Euclid Circular A Semibold.ttf') format('truetype');
    font-weight: 600; /* Semibold weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('/assets/Euclid Circular A Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: inter, sans-serif;
    background-color: #fff;
    color: #000;
    scroll-behavior: smooth;
}

#AuthLayout {
    background-color: var(--main-white);
}

:root {
    --main-gradient: linear-gradient(to right, #FF5926, #FF7E56);
    --main-color: #FF5926;
    --second-color: #FF7E56;
    --main-white: #fff;
    --main-dark: #000;
    --second-dark: #18181C;
    --main-gray: #9CA3AF;
    --second-gray: #D7E3E7;
    --main-yellow: #FED500;
    --main-green: #01D434;
}

h1, h2, h3 {
    font-family: 'Euclid Circular A';
    font-weight: 700;
    line-height: 130%;
}

.bg-main-gradient {
    background: var(--main-gradient);
}

.h-full-minus-14 {
    height: calc(100% - 168px);
}

.Toastify__toast {
    background-color: var(--alt-dark-3);
}

.menu-closed {
    top: -500px;
    transition: top 0.2s ease;
    /* Adicione uma transição suave */
}

.menu-open {
    top: -1px;
    transition: top 0.2s ease;
    /* Adicione uma transição suave */
}

/* emoji */

.emoji {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.sparkle {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* strip */

.strip-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .strip {
    width: fit-content;
    display: flex;
    white-space: nowrap;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-80%);
    }
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(-80%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .animate-left {
    animation: scroll-left 40s linear infinite;
  }
  
  .animate-right {
    animation: scroll-right 40s linear infinite;
  }
  
  
/* compass */

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .compass {
    animation: spin 3s linear infinite;
    transform-origin: center; /* Garante que a rotação seja em torno do centro */
    display: block;
  }